*.sln
*.ncb
*.suo
*.vcproj
*.vcxproj
*.user
*.exe
*.obj
*.log
*.idb
*.dep
obj\
bin\
*.filters
*.htm
*.pdb
*.ilk
*.manifest
*.tlog
*.log
*.sdf
*.bmp
*.cbp
*.o
*.tlog
*.layout
*.depend
*.lnk
*.gch
*.map
*.wav
*sublime*